.buttons:hover{
    background-color: gray;
    border:1px solid gray;

}

.table_container{

    margin-left: 30px;
}
@media only screen and (max-width: 768px) {
  
       button{
        display: grid;
        grid-template-columns: auto auto;
        margin: 10px 0px;
       
       }
     
}